version: "3.8"

services:
  db:
    image: mariadb:latest
    container_name: mariadb-desafio
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: 123
      MARIADB_DATABASE: projeto
      MARIADB_USER: user
      MARIADB_PASSWORD: password
      TZ: America/Sao_Paulo
    command: --default-time-zone=America/Sao_Paulo
    ports:
      - "3307:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - my_network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: phpmyadmin-desafio
    restart: always
    ports:
      - "9091:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      TZ: America/Sao_Paulo
    depends_on:
      - db
    networks:
      - my_network

networks:
  my_network:
    driver: bridge

volumes:
  mariadb_data: